<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="icon" href="/img/favicon.ico">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="OIDC Demo App">
	<link rel="manifest" href="/manifest.json">
	<title>{{title}}</title>
	
	<link href="https://unpkg.com/carbon-components/css/carbon-components.min.css" rel="stylesheet">
	<script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
	<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/vs2015.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
	<link rel='stylesheet' href='/styles/overrides.css' />
</head>

<body class="bx--body">
	<div id="root">
		<div>
			<header aria-label="IBM Security" class="bx--header" role="banner"><a class="bx--skip-to-content"
					href="#main-content" tabindex="0">Skip to main content</a><a class="bx--header__name" href="/"><span
						class="bx--header__name--prefix">IBM</span>&nbsp;Security</a></header>
			<main class="bx--content bx__global-content">
				<div class="bx--grid landing-page">
					<div class="bx--row landing-page__banner">
						<div class="bx--col-lg-12">
							<nav aria-label="Page navigation">
								<ol class="bx--breadcrumb bx--breadcrumb--no-trailing-slash">
									<li class="bx--breadcrumb-item"><a href="https://docs.verify.ibm.com/verify" class="bx--link">Verify Docs</a></li>
								</ol>
							</nav>
							<h1 class="landing-page__heading">Open ID Connect Demo</h1>
						</div>
					</div>
					{{{body}}}
					<section class="bx--row landing-page__r3 info-section">
						<div class="bx--col-md-8 bx--col-lg-8 bx--col-xlg-8">
							<h3 class="info-section__heading">Need help?<a
									href="https://www.ibm.com/support/knowledgecenter/SSCT62/com.ibm.iamservice.doc/tasks/t_config_sso_idp.html"
									class="bx--link footer-link">Visit the knowledge center</a></h3>
						</div>
					</section>
				</div>
			</main>
		</div>
	</div>
	<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>